h1 {
  color: red;
 font-family: Copperplate, "Copperplate Gothic Light", fantasy, serif;
  text-align: center ;
  font-size: 60px ;
}
h2 { 
  color: white;
 font-family: Copperplate, "Copperplate Gothic Light", fantasy, serif;
  text-align: center;
  font-size: 30px
}
p {
  color: white;
 font-family: Copperplate, "Copperplate Gothic Light", fantasy, serif;
  font-size: 8px
  margin: 8px
}
#shopname {
  color: white;
  font-family: copperplate;
  font-size: 15;
}
.shopdetails {
  color: white;
 font-family: Copperplate, "Copperplate Gothic Light", fantasy, serif;
  font-size: 11px;
}
body {
  background-color: darkblue;
}
header {
  background-color: blue;
  color: white;
}
footer {
  background-color: blue;
  color: white;
}
.navigation {
  background-color: blue;
  color: white;
  border: black;
  text-align: center;
   font-family: Copperplate, "Copperplate Gothic Light", fantasy, serif;
}
.column {
  float: left;
  padding:15px;
.row::after {
  content: "";
  clear: both;
  display: table;
.search {
  --padding: 14px;
  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding) ;
  border-radius: 28px;
  background: #f6f6f6;
  width: 600px;
}
  .searchbar {
    font-size: 16px;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy, serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
    width: 300px;
  }
  .search-input::placeholder,
  .seach-icon {
    color: rgba(0, 0, 0, 0.25);
  }
  

