h1 {
  color: red;
  font-family: copperplate;
  text-align: center ;
  font-size: 40px ;
}
h2 { 
  color: white;
  font-family: copperplate;
  text-align: center;
  font-size: 10px
}
p {
  color: white;
  font-family: copperplate;
  font-size: 8px
  margin: 8px
}
#shopname {
  color: white;
  font-family: copperplate;
  font-size: 15;
}
.shopdetails {
  color: white;
  font-family: copperplate;
  font-size: 11px;
}
body {
  background-color: darkblue;
}
header {
  background-color: blue;
  color: white;
}
footer {
  background-color: blue;
  color: white;
}
.navigation {
  background-color: blue;
  color: white;
  border: black;
  text-align: center;
}
.column {
  float: left;
  padding: 5px;
  height: 80px; 
  width: 500px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
