h1 {
  color: red;
 font-family: Copperplate, "Copperplate Gothic Light", fantasy, serif;
  text-align: center ;
  font-size: 60px ;
}
h2 { 
  color: white;
 font-family: Copperplate, "Copperplate Gothic Light", fantasy, serif;
  text-align: center;
  font-size: 30px
}
p {
  color: white;
 font-family: Copperplate, "Copperplate Gothic Light", fantasy, serif;
  font-size: 8px
  margin: 8px
}
#shopname {
  color: white;
  font-family: copperplate;
  font-size: 15;
}
.shopdetails {
  color: white;
 font-family: Copperplate, "Copperplate Gothic Light", fantasy, serif;
  font-size: 11px;
}
body {
  background-color: darkblue;
}
header {
  background-color: blue;
  color: white;
}
footer {
  background-color: blue;
  color: white;
}
.navigation {
  background-color: blue;
  color: white;
  border: black;
  text-align: center;
   font-family: Copperplate, "Copperplate Gothic Light", fantasy, serif;
}
.column {
  float: center;
  padding: 5px;
.row::after {
  content: "";
  clear: both;
  display: table;
